{
    "info" : {
        "name" : "kerui_w18",
        "pulse_lenght" : [310, 330],
        "protocol" : 1
    },
    "codes" : {
        "arm" : [
            8665556,
            6803924
        ],
        "home_arm" : [
            8665553,
            6803921
        ],
        "disarm" : [
            8665554,
            6803922
        ],
        "panic" : [
            8665560,
            6803928
        ],
        "door_sensor" : [
            2095630
        ],
        "motion_detector" : []
    }
}